#!/bin/bash

export RBENV_ROOT=/home/{{ dev_user }}/.rbenv
export RBENV_VERSION={{ rbenv_version }}
export RUBY_VERSION={{ ruby_version }}
export PATH={{ RBENV_ROOT }}/shims:{{ RBENV_ROOT }}/bin:$PATH
